<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	   <dict>
          <key>name</key>
          <string>MapWidth</string>
          <key>type</key>
          <string>edit</string>
          <key>label</key>
          <string>Width of the Map</string>
          <key>default</key>
          <string>1319</string>
    </dict>
    <dict>
          <key>name</key>
          <string>MapHeight</string>
          <key>type</key>
          <string>edit</string>
          <key>label</key>
          <string>Height of the Map</string>
          <key>default</key>
          <string>1272</string>
    </dict>
     <dict>
          <key>name</key>
          <string>MapZoom</string>
          <key>type</key>
          <string>edit</string>
          <key>label</key>
          <string>Zoom of the Map (higher is further out)</string>
          <key>default</key>
          <string>.25</string>
    </dict>
    <dict>
          <key>name</key>
          <string>MapStyle</string>
          <key>type</key>
          <string>select</string>
          <key>label</key>
          <string>Map Theme</string>
          <key>default</key>
          <string>Black</string>
		 <key>options</key>
		 <dict>
			<key>Orange</key>
              <string>bg-sunset</string>
			<key>Grey</key>
              <string>bg-gray</string>
			<key>Dark Grey</key>
              <string>bg-darkgray</string>
			<key>Black</key>
              <string>bg-black</string>
		</dict>
      </dict>
</array>
</plist>
