<plist version="1.0">
  <array>
    <dict>
      <key>name</key>
      <string>feed</string>
      <key>type</key>
      <string>select</string>
      <key>label</key>
      <string>Feed</string>
      <key>default</key>
      <string>News</string>
      <key>options</key>
       <dict>
         <key>News</key>
         <string>1</string>
         <key>Gaming</key>
         <string>2</string>
       </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>vMode</string>
      <key>type</key>
      <string>select</string>
      <key>label</key>
      <string>View Options</string>
      <key>default</key>
      <string>Hot</string>
      <key>options</key>
      <dict>
         <key>Top</key>
         <string>11</string>
         <key>Hot</key>
         <string>12</string>
         <key>Rising</key>
         <string>13</string>
         <key>Controversial</key>
         <string>14</string>
       </dict>
     </dict>    
  </array>
</plist>